body {
     overflow-x: hidden;

}

btn {
    color: aquamarine;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(2, 150, 58);
    margin-bottom: 0px;
    margin-top: 10px;
}
.jumbotron {
    background-color: rgb(2, 150, 58);
    color: rgb(228, 243, 252);
}
.card-hotel {
    flex: 1 200px;   
    margin-top: 10px;
    transition: transform .2s ease, box-shadow .2s ease;

}
.card-hotel:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.btn-reserva {
    width: 100%;
    border-radius: 0;
}

.linkFooter {
    color: #f3f0ee;
    /* El color que tú quieras */

}

.footer-icons {
    padding-right: 10px;
}
.banner-principal{
    height: 250px; /* ajusta a tu gusto */
  overflow: hidden;

}
.img-banner {
  width: 100%;
  height: 100%;
  object-fit: cover; /* recorta sin deformar */
}
.breadcrumb {
  background-color: #f3f8f3; /* verde muy suave */
  padding: .75rem 1rem;
  border-radius: .25rem;
}
.tab-content{
    padding-top: 10px;
}

  .accordion-button:not(.collapsed) {
    background-color: #e6f4ea; /* verde suave */
    color: #2e7d32;
  }

  .accordion-button {
    transition: background-color .3s ease;
  }
